<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bestsolution.at/typescript/service/spec/TSSpec" 
       class = "at.bestsolution.typescript.service.spec.tSSpec.TSSpecPackage"
       genModel = "model/generated/TSSpec.genmodel" /> 
	
  </extension>



</plugin>
