/.TSSpecDescriptionLabelProvider.java._trace
/.TSSpecDescriptionLabelProvider.xtendbin
/.TSSpecLabelProvider.java._trace
/.TSSpecLabelProvider.xtendbin
/TSSpecDescriptionLabelProvider.java
/TSSpecLabelProvider.java
